<div *ngIf="loading" class="loader">Cargando proyectos...</div>

<div *ngIf="proyectos$ | async as proyectos; else cargando" class="card-container">

  <div *ngFor="let p of proyectos" class="card">

    <div class="top-section">
      <div class="border"></div>
      <div class="icons">
        <div class="logo">
          <div class="placeholder-icon">P</div>
        </div>
        <div class="social-media">
          <div class="mini-icon"></div>
          <div class="mini-icon"></div>
          <div class="mini-icon"></div>
        </div>
      </div>
    </div>

    <div class="bottom-section">
      <span class="title">{{ p.titulo }}</span>

      <p class="description">{{ p.descripcion }}</p>

      <p class="tech">Tecnologías: {{ p.tecnologias }}</p>

      <div class="links">
        <a *ngIf="p.urlRepo" [href]="p.urlRepo" target="_blank">
          Código
        </a>
        <a *ngIf="p.urlDeploy" [href]="p.urlDeploy" target="_blank">
          Demo
        </a>
      </div>
    </div>

  </div>

</div>

<ng-template #cargando>
  <div *ngIf="!loading" class="loader">No se encontraron proyectos.</div>
</ng-template>