<nav class="navbar">
  <div class="left">
  <a routerLink="/">Home</a>

  <!-- Menú Admin -->
  <a *ngIf="(auth.userData$ | async)?.role === 'admin'" routerLink="/admin">
    Admin
  </a>

  <!-- Menú Programador -->
  <div *ngIf="(auth.userData$ | async)?.role === 'programador'">
    <a routerLink="/programador">Panel Programador</a>
    <a routerLink="/programador/solicitudes">Solicitudes</a>
  </div>
</div>


  <div class="right">

    <!-- Si NO hay usuario -->
    <a *ngIf="!(user$ | async)" routerLink="/login">Iniciar sesión</a>

    <!-- Si HAY usuario -->
    <div *ngIf="user$ | async as user" class="user-info">
      <img [src]="user.photo" alt="Foto usuario" />
      <span>{{ user.name }}</span>

      <button (click)="logout()">Cerrar sesión</button>
    </div>

  </div>
</nav>
