<nav class="navbar">
  <div class="left">
    <a routerLink="/">Home</a>

    <!-- Menú Admin -->
    <a *ngIf="(auth.userData$ | async)?.role === 'admin'" routerLink="/admin">
      Admin
    </a>

    <!-- Menú Programador (SOLO EL PANEL) -->
    <!-- Quitamos el enlace extra de solicitudes que tenías aquí -->
    <a *ngIf="(auth.userData$ | async)?.role === 'programador'" routerLink="/programador">
      Panel Programador
    </a>

    <!-- Menú Usuario (SOLO EL USUARIO VE ESTO) -->
    <a *ngIf="(auth.userData$ | async)?.role === 'usuario'" routerLink="/mis-asesorias">
      Solicitudes
    </a>

  </div>


  <div class="right">

    <!-- Si NO hay usuario -->
    <a *ngIf="!(user$ | async)" routerLink="/login">Iniciar sesión</a>

    <!-- Si HAY usuario -->
    <div *ngIf="user$ | async as user" class="user-info">
      <img [src]="user.photoURL" alt="Foto usuario" />
      <span>{{ user.name }}</span>

      <button (click)="logout()">Cerrar sesión</button>
    </div>

  </div>
</nav>