<nav class="navbar">

  <!-- HAMBURGUESA (solo móvil) -->
  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="menu-mobile" [class.open]="menuOpen">

  <a routerLink="/">Home</a>

  <a *ngIf="auth.currentRole === 'programador'" routerLink="/programador">
    Panel Programador
  </a>

  <a *ngIf="auth.currentRole === 'usuario'" routerLink="/mis-asesorias">
    Mis Asesorías
  </a>

  <button (click)="logout()" class="logout-btn">
    Cerrar sesión
  </button>

</div>


  <!-- LINKS IZQUIERDA -->
  <div class="nav-links">
    <a routerLink="/">Home</a>
    <a *ngIf="auth.currentRole === 'programador'" routerLink="/programador">Panel Programador</a>
  </div>

  <!-- DERECHA: USER + CERRAR SESIÓN -->
  <div class="right-section">
    <div class="user-info" *ngIf="user$ | async as user">
      <img [src]="user.photoURL || 'assets/user.png'" alt="User">
      <span>{{ user.name }}</span>
    </div>

    <button class="logout-btn" (click)="logout()">Cerrar sesión</button>
  </div>

</nav>
