:host 
{
  display: block;
  background-color: #121212; 
  min-height: 100vh;
  padding: 40px 20px;
  color: #ECECEC;
  text-align: center; 
}

.botones
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ui-btn 
{
  align-items: center;
  appearance: none;
  background-color: #1E1E1E;
  border-radius: 8px;
  border-width: 2px;
  border-color: #536DFE;
  box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px,
              rgba(83, 109, 254, 0.15) 0 7px 13px -3px,
              #000 0 -3px 0 inset;
  box-sizing: border-box;
  color: #90CAF9;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 56px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 20px;
}

.ui-btn:focus 
{
  outline: none;
  box-shadow: #D6D6E7 0 0 0 1.5px inset,
    rgba(83, 109, 254, 0.4) 0 2px 4px,
    rgba(83, 109, 254, 0.3) 0 7px 13px -3px,
    #D6D6E7 0 -3px 0 inset;
}

.ui-btn:hover 
{
  box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px,
              rgba(83, 109, 254, 0.2) 0 7px 13px -3px,
              #000 0 -3px 0 inset;
  transform: translateY(-2px);
}

.ui-btn:active 
{
  box-shadow: #000 0 3px 7px inset;
  transform: translateY(2px);
}

.ui-btn.ressaltado {
  border-color: #FFAB40; 
  color: #FFAB40;
}

.primario
{
  border-color: #1976d2;
  color: #1976d2;
}

.secundario
{
  border-color: #43a047;
  color: #43a047;
}

.login 
{
  border-color: #fbc02d;
  color: #fbc02d;
}
