<div class="programmers-container" *ngIf="programadores && programadores.length > 0; else loading">
    
    <div class="card-client" *ngFor="let p of programadores">

        <div class="user-picture">
            <img *ngIf="p.foto || p.persona?.foto; else noPhoto" 
                 [src]="p.foto || p.persona?.foto" 
                 alt="Foto">
        </div>
        
        <ng-template #noPhoto>
            <div class="user-picture">
                <img src="assets/default-user.png" alt="Default">
            </div>
        </ng-template>

        <p class="name-client">
            {{ p.nombre || p.persona?.nombre }} {{ p.apellido || p.persona?.apellido }}
            <span>{{ p.especialidad || p.persona?.rol || 'Programador' }}</span>
        </p>
        
        <hr class="divider" />

        <button class="btn-proyectos" [routerLink]="['/portafolio', p.cedula || p.persona?.cedula, 'proyectos']">
            Ver Proyectos
        </button>
    </div>
</div>

<ng-template #loading>
    <div class="loader">Cargando expertos...</div>
</ng-template>